################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game/bin/Debug
/Game/obj/Debug
/Game/obj/Debug
/Game/obj/Debug
/Game plan.docx
/Game plan.docx
/Game plan.docx
/Game plan.docx
/textures
/textures
/.vs/Game/v15/.suo
