################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game/bin/Debug
/Game/obj/Debug
/.vs/Game/v14
